$moderate-blue: hsl(238, 40%, 52%);
$soft-red: hsl(358, 79%, 66%);
$light-grayish-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);
$dark-blue: hsl(212, 24%, 26%);
$grayish-blue: hsl(211, 10%, 45%);
$light-gray: hsl(223, 19%, 93%);
$very-light-gray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);
$font-size-paragraph: 16px;
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: $very-light-gray;
}

textarea {
    resize: none;
  }

img {
    object-fit: cover;
}

h1, h2, h3, h4 {
    color: $dark-blue;
}

p {
    font-size: $font-size-paragraph;
    color: $grayish-blue;
}

.container {
    // max-width: 375px;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.comment-item {
    background-color: $white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.comment-item:last-child {
    margin-bottom: 0;
}

.comment-item-header {
    display: flex;
    align-items: center;
}

.avatar-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 1rem;
}

.username {
    margin-right: 1rem;
    font-weight: $font-weight-normal;
}

.comment-text {
    padding: 1rem 0;

    .username-reply {
        color: $moderate-blue;
        font-weight: $font-weight-normal
    }
}

.comment-item-footer {
    display: flex;
    justify-content: space-between;

    .likes-counter {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        background-color: $light-gray;
        border-radius: 0.625rem;
    
        .number-of-likes {
            margin: 0 0.7rem;
            color: $moderate-blue;
            font-weight: $font-weight-normal;
        }
    }

    .reply {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        .icon-reply {
            margin-right: 0.5rem;
        }

        h4 {
            font-weight: $font-weight-normal;
            color: $moderate-blue;
        }
    }
}

.comment-replies-block {
    display: flex;

    .replies-line {
        max-width: 1px;
        width: 100%;
        height: auto;
        margin-right: 1rem;
        background-color: $pale-red;
        border-radius: 2px;
    }
}

.message-options {
    display: flex;

    .delete,
    .edit {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .delete {
        .icon-delete {
            margin-right: 0.5rem;
        }
        h4 {
            color: $soft-red;
            font-weight: $font-weight-normal;
        }
    }
    .edit {
        .icon-edit {
            margin-right: 0.5rem;
        }
        margin-left: 1rem;
        h4 {
            color: $moderate-blue;
            font-weight: $font-weight-normal;
        }
    }
}

.add-comment-block {
    background-color: $white;
    padding: 15px;
    border-radius: 8px;
    margin: 1rem 0;
    flex-direction: column;
    align-items: flex-start;

    .add-comment-input {
        width: 100%;
        border-radius: 1rem;
        min-height: 95px;
        border: 1px solid $light-gray;
        outline: none;
        margin-bottom: 1.5rem;
        padding: 1rem 1.5rem;
    }

    .add-comment-block-footer {
        display: flex;
        justify-content: space-between;

        .send-button {
            text-transform: uppercase;
            border: none;
            padding: 0.8rem 1.7rem;
            border-radius: 0.5rem;
            color: $white;
            background-color: $moderate-blue;
            font-weight: $font-weight-light;
            letter-spacing: 0.4px;
        }
    }
}

@media (min-width: 768px) {
    
}
